<h1>Team Data for <%=params[:team].upcase%></h1>


<div class="center container">
	<div class="col-md-4 col-md-offset-2">
		<h2>Team Stats</h2>
	<h3>Points Scored: <b><%= @team.points.to_s%></b></h3>
	<h3>FG%: <b><%= @team.fg_pct.to_s%></b></h3>
	<h3>3P%: <b><%= @team.tp_pct.to_s%></b></h3>
	<h3>Rebounding: <b><%= @team.orb.to_s+'/'+@team.trb.to_s%></b></b></h3>
	<h3>PF/FTA: <b><%= @team.pf.to_s+'/'+@team.fta.to_s%></b></b></h3>
	<h3>Assists/TOV: <b><%= @team.assists.to_s+'/'+@team.tov.to_s%></b></b></h3>
	<h3>Steals/Blocks: <b><%= @team.steals.to_s+'/'+@team.blocks.to_s%></b></b></h3>
	</div>
	<div class="col-md-4">
		<h2>Opp Stats</h2>
	<h3>Points Allowed: <b><%=@team.opp_points.to_s%></b></h3>
	<h3>FG%: <b><%= @team.opp_fg_pct.to_s%></b></h3>
	<h3>3P%: <b><%= @team.opp_tp_pct.to_s%></b></h3>
	<h3>Rebounding: <b><%=@team.opp_orb.to_s+'/'+@team.opp_trb.to_s%></b></h3>
	<h3>PF/FTA: <b><%= @team.opp_pf.to_s+'/'+@team.opp_fta.to_s%></b></b></h3>
	<h3>Assists/TOV: <b><%= @team.opp_assists.to_s+'/'+@team.opp_tov.to_s%></b></b></h3>
	<h3>Steals/Blocks: <b><%= @team.opp_steals.to_s+'/'+@team.opp_blocks.to_s%></b></b></h3>
	</div>
</div>
