<h1>OPTIMAL</h1>
<br>
<%= render partial: "shared/search_form" %>	

<br>
<% if defined?(@lineup) %>
	<% @lineup.each do |y| %>
		<%= y.player_name%> <%= y.salary%> <%= y.ppd_std%><br>
	<%end%>
<%end%>

<%= @timer %>
