<h3><strong>Results:</strong></h3>
		<div class="table-responsive">
		  <table id="results" class="tablesorter table-striped">
		    <thead> <!-- tablesorter table-striped -->
		    	<tr>
		    		<th>Position</th>
		    		<th>Player Name</th>
		    		<th>Salary</th>
		    		<th>Projected Points</th>
		    		<th>Points/$1,000</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	 <% table_data.each do |data| %>
		      <tr>
		      	<td class="left-text"><%= data.position %></b></td>
		      	<td class="left-text"><%= data.player_name %></b></td>
		      	<td><%= data.salary %></td>
		      	<% if ppr %>
		      		<td><%= data.ppr_proj %></td>
		      		<td><%= data.ppd_ppr %></td>
		      	<% else %>
		      		<td><%= data.std_proj %></td>
		      		<td><%= data.ppd_std %></td>
		      	<% end %>
		      	
		      </tr>
		    <% end %>
		    </tbody>
		  </table>
		</div>
		
<script>
	$(document).ready( function () {
    $('#results').DataTable( {
    	"pageLength": 10,
    	"order": [[ 3, "desc" ]]
    	}	
    );
} );
</script>
