<h3><strong>Results:</strong></h3>
		<div class="table-responsive">
		  <table id="results" class="tablesorter table-striped">
		    <thead> <!-- tablesorter table-striped -->
		    	<tr>
		    		<% positions.each do |data| %>
		    			<th><%= data %></th>
		    		<% end %>
		    			<th>Combined Salary</th>
		    			<th>Combined Projected Points</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<% lineups.optimal_lineup.each do |lineup| %>
		    	<tr>
		    	 <% lineup.each do |player| %>
		      		<td><%= player.player_name %> <small>(<%= format_game_teams(player).html_safe %>)</small></td>
			      	<% end %>
			      	
			      	<td><%= lineup.sum(&:salary) %></td>
				      	<% if lineups.league_name  == 'NFL' %>
				      		<td><%= lineup.sum(&:ppr_proj) %></td>
				      	<% else %>
				      		<td><%= lineup.sum(&:fd_score) %></td>
				      	<% end %>
		      </tr>
		    <% end %>
		    </tbody>
		  </table>
		</div>
		
<script>
	$(document).ready( function () {
    $('#results').DataTable( {
    	"pageLength": 10,
    	"order": [[ <%= positions.count + 1 %>, "desc" ]]
    	}	
    );
} );
</script>
