<h3><strong>Results:</strong></h3>
		<div class="table-responsive">
		  <table id="results" class="tablesorter table-striped">
		    <thead> <!-- tablesorter table-striped -->
		    	<tr>
		    		<th class="left-text">Player Name</th>
		    		<th>Salary</th>
		    		<th>Projected Points</th>
		    		<th>Points/$1,000</th>
		    		
		    		<% if @league == NFL_Lineup %>
		    		<th>Game Time</th>
		    		<% elsif @league == NBA_Lineup %>
		    		<th>Playing Time</th>
		    		
		    		<% end %>
		    		<th>Matchup</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	 <% table_data.each do |data| %>
		      <tr>
		      	<td class="left-text"><%= data.player_name %></b></td>
		      		<td><%= data.salary %></td>
			      	<% if @league == NFL_Lineup %>
				      	<td><%= data.ppr_proj %></td>
				      	<td><%= data.ppd_ppr %></td>
				      	<td><%= data.game_date.strftime('%A, %b %d, %l:%M %p') %></td>
			      	<% elsif @league == NBA_Lineup %>
			      		<% if params[:site].upcase == 'FD'%>
			      			<td><%= data.fd_score%></td>
			      			<td><%= (data.fd_score / (data.salary / 1000)).round(2)%></td>
			      		<% elsif params[:site].upcase == 'DK' %>
			      			<td><%= data.dk_score%></td>
			      			<td><%= (data.dk_score / (data.salary / 1000)).round(2)%></td>
			      		<% end %>
			      		<td><%= data.minutes_played%></td>
			      	<% end %>
			      	<td><%= format_game_teams(data).html_safe %></td>
		      </tr>
		    <% end %>
		    </tbody>
		  </table>
		</div>
		
<script>
	$(document).ready( function () {
    $('#results').DataTable( {
    	"pageLength": 10,
    	"order": [[ 2, "desc" ]]
    	}	
    );
} );
</script>
