  <div class="container-fluid search-criteria">	

	<form action="/<%= params[:league] %>/optimal_lineup/<%= site %>" method="get" autocomplete="off">
	  	  <div class="row"><h4><%= label_tag(:company_name, "Player Filters:") %></h4></div>
	  	  <div class="row"><%= text_field_tag :salary, params[:salary], placeholder: "Salary Available", class: "search-form-text-field" %></div>
	  	  <div class="row"><%= label_tag(:company_name, "Positions Needed:") %>

	<%= select_tag(:num_positions, options_for_select(@league.supported_searchable_pos, params[:num_positions]))%>
</div>
				<% pos_list = @league.site_positions(site)%>
	  	  
	  	  	<% if params[:league].upcase == 'NFL' %>
				<%= select_tag "position1", options_for_select(pos_list,params[:position1]) %>
				<%= select_tag "position2", options_for_select(pos_list, if params[:position2].nil? then 'RB' else params[:position2] end) %>
				<%= select_tag "position3", options_for_select(pos_list, if params[:position3].nil? then 'WR' else params[:position3] end) %>
				<%= select_tag "position4", options_for_select(pos_list, if params[:position4].nil? then 'TE' else params[:position4] end) %>
				<%= select_tag "position5", options_for_select(pos_list, if params[:position5].nil? then 'QB' else params[:position5] end) %>
				<div class="row"><%= check_box_tag 'thursday', 0, params[:thursday]%><span class="checkbox-text">Hide Thursday Games</span></div>
				<div class="row"><%= check_box_tag 'monday', 0, params[:monday]%><span class="checkbox-text">Hide Monday Games</span></div>
			<% else %>
				<%= select_tag "position1", options_for_select(pos_list,params[:position1]) %>
				<%= select_tag "position2", options_for_select(pos_list, if params[:position2].nil? then 'SG' else params[:position2] end) %>
				<%= select_tag "position3", options_for_select(pos_list, if params[:position3].nil? then 'SF' else params[:position3] end) %>
				<%= select_tag "position4", options_for_select(pos_list, if params[:position4].nil? then 'PF' else params[:position4] end) %>
				<%= select_tag "position5", options_for_select(pos_list, if params[:position5].nil? then 'C' else params[:position5] end) %>
				<%= select_tag "position6", options_for_select(pos_list, if params[:position6].nil? then 'SG' else params[:position6] end) %>
				<%= select_tag "position7", options_for_select(pos_list, if params[:position7].nil? then 'SF' else params[:position7] end) %>
				<%= select_tag "position8", options_for_select(pos_list, if params[:position8].nil? then 'PF' else params[:position8] end) %>
			<% end %>

	<div class="col-md-12"> 
	  <%= submit_tag("Search", :name => '', :class=>"btn btn-search") %>
	  </div>
   </div>
   </form>

<script>
$(function(){
    $('#num_positions').change(function() {
        var selectValue = $(this).val();
        if (selectValue > 7){
        	$('#position8,#position7,#position6,#position5,#position3,#position4').show();
         	$('#position8,#position7,#position6,#position5,#position3,#position4').removeClass('toBeRemoved');
        }else if (selectValue > 6){
        	$('#position7,#position6,#position5,#position3,#position4').show();
         	$('#position7,#position6,#position5,#position3,#position4').removeClass('toBeRemoved');
         	$('#position8').hide();
         	$('#position8').addClass('toBeRemoved');
        }else if (selectValue > 5){
        	$('#position6,#position5,#position3,#position4').show();
         	$('#position6,#position5,#position3,#position4').removeClass('toBeRemoved');
         	$('#position8,#position7').hide();
         	$('#position8,#position7').addClass('toBeRemoved');
        }else if (selectValue > 4){
        	$('#position3,#position4,#position5').show();
         	$('#position3,#position4,#position5').removeClass('toBeRemoved');
         	$('#position8,#position7,#position6').hide();
         	$('#position8,#position7,#position6').addClass('toBeRemoved');
        }else if (selectValue > 3){
         	$('#position3,#position4').show();
         	$('#position3,#position4').removeClass('toBeRemoved');
         	$('#position8,#position7,#position6,#position5').hide();
         	$('#position8,#position7,#position6,#position5').addClass('toBeRemoved');
        }else if (selectValue > 2){
        	$('#position3').show();
        	$('#position3').removeClass('toBeRemoved');
         	$('#position8,#position7,#position6,#position5,#position4').hide();
         	$('#position8,#position7,#position6,#position5,#position4').addClass('toBeRemoved');
        }else if (selectValue > 1){
         	$('#position8,#position7,#position6,#position5,#position4,#position3').hide();
         	$('#position8,#position7,#position6,#position5,#position4,#position3').addClass('toBeRemoved');
        }
    });
});

$('form').submit(function(){
    $('.toBeRemoved').remove();
});

$(document).ready(function () {
  $('#num_positions').change();
});
</script>