  <div class="container-fluid search-criteria">	

	<form action="/rankings/optimal_lineup_dk" method="get">
	  	  <div class="row"><h4><%= label_tag(:company_name, "Player Filters:") %></h4></div>
	  	  <div class="row"><%= text_field_tag :salary, params[:salary], placeholder: "Salary Available", class: "search-form-text-field" %></div>
	  	  <div class="row"><%= label_tag(:company_name, "Positions Needed:") %>

	<%= select_tag(:num_positions, options_for_select(NFL.supported_searchable_pos, params[:num_positions]))%>
</div>
	  	  
			<%= select_tag "position1", options_for_select(NFL.positions,NFL.positions) %>
			<%= select_tag "position2", options_for_select(NFL.positions,NFL.positions) %>
			<%= select_tag "position3", options_for_select(NFL.positions,NFL.positions) %>
			<%= select_tag "position4", options_for_select(NFL.positions,NFL.positions) %>

	<div class="col-md-12"> 
	  <%= submit_tag("Search", :name => '', :class=>"btn btn-search") %>
	  </div>
   </div>
   </form>

<script>
$(function(){
    $('#num_positions').change(function() {
        var selectValue = $(this).val();
        if (selectValue > 3){
         	$('#position3,#position4').show();
         	$('#position3,#position4').removeClass('toBeRemoved');
        }else if (selectValue > 2){
        	$('#position3').show();
        	$('#position3').removeClass('toBeRemoved');
         	$('#position4').hide();
         	$('#position4').addClass('toBeRemoved');
        }else if (selectValue > 1){
         	$('#position4,#position3').hide();
         	$('#position4,#position3').addClass('toBeRemoved');
        }
    });
});

$('form').submit(function(){
    $('.toBeRemoved').remove();
});

$(document).ready(function () {
  $('#num_positions').change();
});
</script>